<form action="#" id="tt-form">
	<div>
		<label for="title">Title</label>
		<input type="text" name="title">
	</div>
	<div>
		<label for="url">URL</label>
		<input type="text" name="url">
	</div>
	<input type="hidden" name="video_time" id="video_time">
	<input type="hidden" name="video_id" id="video_id">
	<button type="submit"></button>
</form>