<form action="#" id="tt-form">
	<h5>New tag at {{ video_time_readable }} </h5>
	<div>
		<input type="text" name="title" placeholder="Title of the track">
	</div>
	<div>
		<input type="text" name="url" placeholder="Link to the track">
	</div>
	<input type="hidden" name="video_time" id="video_time" value="{{ video_time }}">
	<input type="hidden" name="video_id" id="video_id" value="{{ video_id }}">
	<button type="submit">Submit new tag</button>
</form>